<html>
<body>
<div>
    <form method="post" action="/articles">
        <input type="text" name="title" placeholder="Введите название статьи" />
        <input type="text" name="text" placeholder="Введите содержимое статьи" />
        <button type="submit">Добавить</button>
    </form>
</div>
<!--<div>Список cтатей</div>-->
<!--<form method="post" action="filter">-->
<!--    <input type="text" name="filter">-->
<!--    <button type="submit">Найти</button>-->
<!--</form>-->
{{#articles}}
    <div>
        <b>{{id}}</b>
        <span>{{title}}</span>
        <span>{{text}}</span>
        <span>{{created_at}}</span>
        <i>{{status}}</i>
    </div>
{{/articles}}
</body>
</html>